deep-translator==1.11.4
environs==14.1.1
fastapi==0.115.12
fastapi-mcp==0.3.3
future==1.0.0
geopy==2.4.1
google-adk==0.4.0
graspologic==3.4.1
grpcio-status==1.67.1
gunicorn==23.0.0
h2==4.2.0
httptools==0.6.4
ipykernel==6.29.5
langdetect==1.0.9
loguru==0.7.3
milvus-model==0.2.12
minio==7.2.15
openai==1.77.0
pandas==2.2.3
pip-tools==7.4.1
pyarrow-hotfix==0.7
pydantic==2.11.4
pymilvus==2.5.6
pymilvus.model==0.3.2
pymongo==4.12.1
python-dotenv==1.1.0
python-multipart==0.0.20
termcolor==3.1.0
tiktoken==0.9.0
timezonefinder==6.5.9
tqdm==4.67.1
uvloop==0.21.0
watchfiles==1.0.5
websocket-client==1.8.0
websockets==15.0.1